body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: #F1E3D3;
  }
  
  .glass {
    width: 9rem;
    height: 20rem;
    border: 0.35rem solid #000;
    border-radius: 0 0 10% 10%;
    padding: 1rem;
    position: relative;
  }
  
  .drink {
    width: 100%;
    height: 100%;
    background: linear-gradient(#fc7927, #25ff66);
    border-radius: 0 0 10% 10%;
  }
  
  .straw {
    width: 0.5rem;
    height: 3rem;
    background: rgb(255, 183, 0);
    position: absolute;
    top: -3.25rem;
    right: 3rem;
    transform: rotate(10deg);
  }
  
  .straw:before, .straw:after {
    content: "";
    position: absolute;
    background-color:rgb(255, 183, 0);
    width: 0.5rem;
  }
  
  .straw:before {
    height: 3rem;
    top: -2.65rem;
    left: 0.725rem;
    transform: rotate(30deg);
  }
  
  .straw:after {
    height: 5.5rem;
    top: -2.3rem;
    left: -1rem;
  }
  
  .ice {
    width: 4rem;
    height: 4rem;
    background: #fff;
    opacity: 40%;
    border-radius: 30%;
    transform: rotate(250deg);
    position: relative;
    margin-top: 14rem;
    margin-left: -3.9rem;
    box-shadow: 6.5rem 6rem #fff;
  }
  
  .ice:before, .ice:after {
    content: "";
    position: absolute;
    width: 4rem;
    height: 4rem;
    background: #fff;
    border-radius: 30%;
  }
  
  .ice:before {
    transform: rotate(30deg);
    top: 1.5rem;
    left: 6rem;
  }
  
  .ice:after {
    transform: rotate(230deg);
    top: 4.5rem;
    left: 2rem;
  }
  img{
    max-width: 100px;
    height: auto;
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    height: auto;
    width: 150%; 
    margin: 0 0 0 -20%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;  
    position: relative;
  top: 0;
  left: 0;
  border: 1px rgb(0, 255, 136) solid;
  position: relative;
top: -125px;
  }
  h1{}